.add-movie-bar-button {
    width: 20%;
    border-radius: 0 5px 5px 0;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 9px 7px 5px;
    background-color: rgb(25, 25, 25);
    border: 2px solid rgb(75, 75, 75);
    border-left: 1px solid rgb(75, 75, 75);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    border-left: none;
    transition: all 0.25s ease-in-out;
    background-color: forestgreen;
    font-family: 'Luckiest Guy', cursive;
}

.add-movie-bar-button:hover {
    cursor: pointer;
    background-color: forestgreen;
    border: 2px solid rgb(225, 225, 225);
    border-left: 1px solid rgb(225, 225, 225);
}