.search-dropdown {
    position: absolute;
    background-color: rgb(55, 55, 55);
    padding: 15px 0;
    width: 100%;
    margin-top: 50px;
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    max-height: 400px;
    overflow: scroll;
    z-index: 10;
}

.dropdown-title {
    margin: 5px;
    text-align: center;
    text-decoration: underline;
    color: rgb(225, 225, 225);
}