.add-movie-bar-input {
    width: 80%;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px 7px;
    background-color: rgb(25, 25, 25);
    border: 2px solid rgb(75, 75, 75);
    border-right: 1px solid rgb(75, 75, 75);
    color: white;
    transition: all 0.25s ease-in-out;
    font-family: 'Josefin Sans', sans-serif;
}

.add-movie-bar-input:hover {
    cursor: text;
    background-color: rgb(35, 35, 35);
}

.add-movie-bar-input:focus {
    background-color: rgb(35, 35, 35);
    border: 2px solid rgb(225, 225, 225);
    border-right: 1px solid rgb(225, 225, 225);
}